/* You can add global styles to this file, and also import other style files */
.spacer{
  margin-top: 30px;
}
.rightspacer{
  margin-left: 10px;
}

.center{
  align-self: center;
}

.clickable{
  cursor: pointer;
}
